{% load static %}

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg class="mr-2" width="32" height="32">
                    <use xlink:href="{% static "node_modules/bootstrap-icons/bootstrap-icons.svg" %}#camera-fill" />
                </svg>
                <strong>LK Moments</strong>
            </a>

            {% if request.user.is_authenticated %}
                <div>
                    <a href="#" class="username">{{ request.user.username }}</a>
                    <a href="{% url "logout" %}" class="btn btn-danger" style="display: inline">X</a>
                </div>
            {% else %}
                <a href="{% url "login" %}" class="btn btn-light">Login</a>
            {% endif %}
        </div>
    </div>
</header>
