server {
    server_name moments.liokor.com;
    if ($host !~* ^(moments.liokor.com)$) {
        return 444;
    }

    access_log /home/korolion/tp_web_dev/access.log;
    error_log /home/korolion/tp_web_dev/error.log;

    client_max_body_size 10m;
    keepalive_timeout 5;

    gzip            on;
    gzip_types      text/plain text/html text/css application/javascript;
    gzip_proxied    expired no-cache no-store private auth;
    gzip_min_length 2048;

    location = /favicon.ico {
        alias /var/www/tp_web_dev/favicon.ico;
    }
    location = /robots.txt {
        alias /var/www/tp_web_dev/robots.txt;
    }
    location /static/ {
        alias /var/www/tp_web_dev/static/;
    }
    location /media/ {
        alias /var/www/tp_web_dev/media/;
    }

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $host;
        proxy_redirect off;

        proxy_cache tp_web_dev_cache;
        proxy_cache_min_uses 3;
        proxy_cache_valid 200 2s;
        proxy_cache_valid 301 302 10m;
        proxy_cache_valid 404 1m;

        proxy_ignore_headers "Set-Cookie";
        proxy_hide_header "Set-Cookie";

        proxy_pass http://tp_web_dev_server;
    }

    listen 80;
}