{% extends "base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "moments_feed/moments_feed.css" %}">

    {% for moment in moments %}
        <div class="feed mt-5">
            <div class="moment">
                <div class="user-info">
                    <div class="avatar">
                        <a href="{% url "profile" moment.author.username %}">
                            <img src="{{ moment.author.avatar.url }}" alt="">
                        </a>
                    </div>
                    <div class="username-and-location">
                        <div class="username">
                            <a href="{% url "profile" moment.author.username %}">{{ moment.author.username }}</a>
                        </div>
                        <div class="location">
                            Москва, Россия
                        </div>
                    </div>
                </div>

                <div class="image">
                    <img src="{{ moment.image.url }}" alt="{{ moment.image.url }}">
                </div>

                <div class="controls">
                    <svg class="hover-highlight" width="32" height="32" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{% static "node_modules/bootstrap-icons/bootstrap-icons.svg" %}#heart"></use>
                    </svg>
                </div>

                <div class="date">
                    {{ moment.created_date }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="mt-5">
            {% include "moments_feed/paginator_nav.html" %}
        </div>
    {% endif %}
{% endblock %}