{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="text-center w-50 my-5 mx-auto" style="max-width: 500px;">
    <form method="POST">
        {% csrf_token %}

        <img class="mb-4" src="{% static "logo-lg.png" %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        </div>
        <div class="form-group form-check mb-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
        </div>
        <div class="w-50 mx-auto">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
    </form>

    <div>
        <hr>
        <span class="h4">
            New here?
            <a href="{% url "signup" %}">Sign Up</a> then.
        </span>
    </div>
</div>
{% endblock %}
