div.feed
  width 600px
  margin 0 auto

div.moment
  border 1px solid #CCC
  border-radius 3px
  img
    width 100%
    height 100%
  div.user-info
    display flex
    padding 5px
    div.avatar
      width 64px
      height 64px
      border-radius 64px
      overflow hidden
    div.username-and-location
      margin-left 15px
  div.image
    height 600px
  div.controls
    padding 10px
  div.date
    padding 10px
    padding-top 0
    color #AAA